<% provide(:title, "About") %>
<body class="about">
	<div class="container">
		<div class="well">
			<h1>About</h1>

			<p>
			What?
			A parcourse is...wiki link
			</p>
			<p>
			Why?
			I made this website as a compendium for the parcourses here in Austin, Texas. It also includes outdoor workout equipment that aren't necessarily part of a fitness trail such as those found at a park or playground. As an avid rock climber I like to cross train my antagonist muscles for the purpose of injury prevention. Because I ride my bike a lot, I thought it would be a cheaper and more practical alternative to get my cross training workouts done at my local parcourse. I've always been a fan of body weight exercises because of their simplicity and because it's really all I need. The problem was that my closest parcourse didn't have dip bars that I needed. In fact, most parcourses don't have the full range of equipment, which is to be expected due to costs and space. This site is designed to show the locations of the parcourses and what excercise equipment they have available.
			</p>
			<p>
			Originally, this was something for me to quickly look up certain exercise equipment depending on where I was going to be riding, but I hope that this website will also help others find the outdoor exercise equipment they need. As I find more locations, I will update the site accordingly. So go outside, enjoy the trees, and work out for free!
			</p>
		</div>
	</div>
</body>