<% provide(:title, "About") %>
<body class="about">
	<div class="container">
		<div class="well">
			<h1>About</h1>

			<p>
			A fitness trail, also known as a parcourse, is a path or trail equipped with exercise stations along its length. Often times, a station will feature signs showing how to utilize the equipment in conjunction with a basic workout program. The more basic parcourses will just have equipment that are pretty straight forward to use such as pull up bars and dip bars.
			</p>

			<p>
			I made this website as a compilation of the parcourses here in Austin, TX. It also includes outdoor workout equipment that aren't necessarily part of a fitness trail such as those found at a park or playground. Because I ride my bike a lot, I thought it would be a cheaper and more practical alternative to get my cross training workouts done while on the move. I've always been a fan of body weight exercises because of their simplicity and because it's really all I need. The problem was that my closest parcourse didn't have the dip bars that I needed, and I didn't know where the nearest one was located at the time. In fact, most parcourses don't have the full range of equipment, which is to be expected due to costs and space. This site is dedeicated to showing the locations of the parcourses and what excercise equipment they have available.
			</p>

			<p>
			Originally, this was something for me to quickly look up certain exercise equipment depending on where I was going to be riding, but I hope that this website will also help others find the outdoor exercise equipment they need. I've provided a large number of locations that I have personally explored, but I'm sure there are many more. Because regular street addresses can be to vague, locations are based off of precise latitude and longitude coordinates. Please help out the free excercise community here in Austin, and share your local workout spots.
			</p>

		</div>
	</div>
</body>