<body class="home">
	<div class="container">
		<div class="jumbotron">
			<h1>Welcome to Austin Fitness Trails</h1>
			<p>You have found the home page for the Austin Fitness Trails. Sign up to add your own locations.</p>
			<p><%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
		</div>
	</div>
</body>