<div class="container">
	<div class="row center">
		<div class="col-md-5 col-md-offset-3">
			<h1>Add New Photo</h1>

			<%= render 'form' %>

			<%= link_to 'Back', locations_path %>
		</div>
	</div>
</div>









<!-- <h1>New Photo</h1> -->

<%#= render 'form' %>

<%#= link_to 'Back', location_photos_path %>
