@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 49px;
}

.navbar {
  background-image: image-url('bg.gif');
  /*#293A46*/
  /*background-color: #87CEEB; /*#25383C*/
  letter-spacing: 0px;
  font-weight: 600;
  border: none;
}

.nav.navbar-nav li a {
    color: white;
}
.nav.navbar-nav li a:hover {
    color: yellow;
}


.container-fluid-header {
	padding-right: 30px;
	padding-left: 20px;
}

html {
  overflow-y: scroll;
}

.home {
  background-image: url("IMG_0403-X2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.about {
  background-image: url("img_0789.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.map, .gallery, .show_page {
  background-image: url("gray_paper.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.well {
  background: rgba(49, 65, 82, 0.7);
  color: white;
  border: none;
}

.jumbotron {
  background: rgba(49, 65, 82, 0.7);
  color: white;
}

.container .jumbotron {
  padding-left: 130px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: 87CEEB;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/*#wrapper {
  padding-left: 250px;
}

#sidebar-wrapper {
  width: 250px;
  z-index: 1000;
  position: fixed;
  left: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: black none repeat scroll; 
  top: 50px;
  padding-top: 20px;
  color: white;
}

.sidebar-nav {
  position: absolute;
  top: 0px;
  width: 250px;
  margin: 0px;
  padding-left: 15px;
  padding-top: 15px;
  list-style: outside none none;
}*/

/*.col-md-2.no-float {
  background: black none repeat scroll;
  overflow-y: auto;
  z-index: -1;
}*/

a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

/*#page-content-wrapper {
  width: 100%;
}


.container-fluid-map {
  padding-right: none;
  padding-left: none;
}*/

.form-inputs abbr {
  display: none;
}

.text abbr {
  display: none;
}

.float abbr {
  display: none;
}

.string abbr {
  display: none;
}

.select {
  background:red;
  color: white;

  a:visited {
    color: white;
    text-decoration: none;
  };
}

#owl-demo .item{
  margin: 5px;
}

#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

.grid {
  width: 100%;
  padding: 0;
  margin: 0;
}

.grid li {
  list-style-type: none;
  display: inline-block;
  *display: inline;
  vertical-align: top;
  height: 250px;
  // width: 225px;
  width: auto;
}

.box {
  background-color: white;
  margin: 5px;
  padding: 5px;
  font-size: 15px;
  line-height: 1.4em;
  float: left;
  // -webskit-border-radius: 5px;
  // -moz-border-radius: 5px;
  // border-radius: 5px;
  box-shadow: 1px 1px 10px #444;
  // width: 214px;
  width: auto;
}

.caption {
  text-align: right;
  text-decoration: none;
}

.box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3px;
}

.button {
  padding-left: 20px;
  padding-top: 20px;
}

.gallerybox {
  padding-left: 16px;
  padding-right: 16px;
}

.glyphicon-bigger {
    font-size: 30px; 
    padding-left: 16px;
}

.location_title {
  font-size: 25px;
  padding-left: 18px;
  font-weight: bold;
  color: white;
}

