@import "bootstrap-sprockets";
@import "bootstrap";


body {
  padding-top: 60px;
}

.navbar {
  background-image: image-url('bg.gif');
  /*#293A46*/
  /*background-color: #87CEEB; /*#25383C*/
  letter-spacing: 0px;
  font-weight: 600;
  border: none;
}

.nav.navbar-nav li a {
    color: white;
}
.nav.navbar-nav li a:hover {
    color: yellow;
}

.container-fluid {
	padding-right: 30px;
	padding-left: 20px;
}

/*html {
	background: url("IMG_0403-X2.jpeg") no-repeat center center fixed;
	background-image: image-url('IMG_0403-X2.jpeg');
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

html {
  overflow-y: scroll;
}

.home {
  background-image: url("IMG_0403-X2.jpg");
  /*background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('IMG_0403-X2.jpg');*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.about {
  background-image: url("img_0789.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.well {
  background: rgba(49, 65, 82, 0.7);
  color: white;
  border: none;
}

.jumbotron {
  background: rgba(49, 65, 82, 0.7);
  color: white;
}

.container .jumbotron {
  padding-left: 130px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: 87CEEB;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/*.sidebar {
  position: fixed;
  top: 50;
  left: 0;
  bottom: 0;
  z-index: 1000;
  display: block;
  background: black;
  color: white;
}*/

/*.main {
  position: fixed;
  top: 50;
  left: 200;
  bottom: 0;
  z-index: 1000;
  display: block;
  background: blue;
  color: white;
}*/

#sidebar-wrapper {
  width: 250px;
  z-index: 1000;
  position: fixed;
  left: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: black none repeat scroll 0% 0%; 
  top: 50px;
  padding-top: 20px;
  color: white;
}

.form-inputs abbr {
  display: none;
}

.text abbr {
  display: none;
}